@font-face {
  font-family: "Lato";
  font-weight: 800;
  font-style: normal;
  src: local url("../fonts/LatoHeavy.woff2") format("woff2"),
    url("../fonts/LatoHeavy.woff") format("woff");
}
@font-face {
  font-family: "Lato";
  font-weight: 700;
  font-style: normal;
  src: local url("../fonts/LatoBold.woff2") format("woff2"),
    url("../fonts/LatoBold.woff") format("woff");
}
@font-face {
  font-family: "Lato";
  font-weight: 600;
  font-style: normal;
  src: local url("../fonts/LatoSemibold.woff2") format("woff2"),
    url("../fonts/LatoSemibold.woff") format("woff");
}
@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
  src: local url("../fonts/LatoRegular.woff2") format("woff2"),
    url("../fonts/LatoRegular.woff") format("woff");
}
@font-face {
  font-family: "Raleway";
  font-weight: 800;
  font-style: normal;
  src: local url("../fonts/RalewayExtraBold.woff2") format("woff2"),
    url("../fonts/RalewayExtraBold.woff") format("woff");
}
