$color-header:rgba(16, 16, 29, 0.9);
$color-burger:rgba(16, 16, 29, 0);
$color-background:#272733;
$color-blue:#3E9CDC;
$color-white:#FFFFFF;
$color-black:#000000;
$color-grey:#6F6D7B;
$color-ayra:#00FFFF;
$color-form: rgba(255, 255, 255, 0.85);
$color-select:rgba(61, 64, 80, 0.85);
$color-background-select:rgba(39, 39, 51, 0.9);
$color-border-select:#3D4050;
$color-slidercontainer:rgba(255, 255, 255, 0.7);
$color-slider-border:#286690;
$color-order-text:#bbbbbb;
$color-border-input:#286690;
$color-background-footer:#3D4050;
$color-payment-link:#c3c3c3;

$basic-font: "Lato", "Tahoma", sans-serif;
$second-font:"Raleway", "Arial", sans-serif;
